main {
  .family-tree {
    &.black {
      .member {
        //1세대 조지(릴리안)
        &:nth-child(1) {
          grid-column: 2/3;
          
        }

        //1세대 릴리안
        &:nth-child(2) {
          grid-column: 1/2;
          
        }

        //1세대  피터
        &:nth-child(3) {
          grid-column: 5/6;
        }

        // 2세대 비비안
        &:nth-child(4) {
          
        }

        //2세대 훅단
        &:nth-child(5) {
          grid-column: 3/4;
          
        }

        //2세대 세야
        &:nth-child(6) {
          grid-column: 4/5;
          
        }

        // 2세대 백단
        &:nth-child(7) {
          grid-column: 6/6;
          
        }

        // 3세대 제시카
        &:nth-child(8) {
          grid-column: 5/6;
          
        }

        // 3세대 케니스(제시카)
        &:nth-child(9) {
          grid-column: 6/7;
          
        }

        // 2세대 크리스티안
        &:nth-child(10) {
          grid-column: 3/4;
          
        }

        // 2세대 줄리안
        &:nth-child(11) {
          grid-column: 4/5;
          
        }

        // 3세대 로코
        &:nth-child(12) {
          grid-column: 5/6;
          grid-row: 4/4;
        }
      }
    }
  }
}
