main {
  .family-tree {
    &.brown {
      .member {
        // 1세대 엘라 (차밍)
        &:nth-child(1) {
          grid-column: 2/3;
        }

        // 3세대 블레어(일리아나)
        &:nth-child(2) {
          grid-column: 2/3;
        }

        // 1세대 차밍
        &:nth-child(3) {
          grid-column: 1/2;
        }

        // 1세대 조지
        &:nth-child(4) {
          grid-column: 5/6;
        }

        // 2세대 에일리
        &:nth-child(5) {
        }

        //2세대 파이
        &:nth-child(6) {
          grid-column: 2/3;
        }

        //2세대 케이트
        &:nth-child(7) {
          grid-column: 5/6;
        }

        //2세대 리처드
        &:nth-child(8) {
          grid-column: 3/4;
        }

        // 3세대 조슈아
        &:nth-child(9) {
          grid-column: 3/4;
        }

        // 3세대 일리아나
        &:nth-child(10) {
          grid-column: 1/2;
        }

        // 3세대 나타샤
        &:nth-child(11) {
          grid-column: 5/6;
        }
        // 3세대 나타샤
        &:nth-child(12) {
          grid-column: 4/5;
        }
      }
    }
  }
}
