main {
  .family-tree {
    &.green {
      .member {
        //1세대 케니(헤나)
        &:nth-child(1) {
          grid-column: 2/3;
        }

        //1세대 헤나
        &:nth-child(2) {
          grid-column: 1/2;
        }

        //1세대 푸른
        &:nth-child(3) {
          grid-column: 5/6;
        }

        //2세대 모니카
        &:nth-child(4) {
        }
        //2세대 피터
        &:nth-child(5) {
          grid-column: 4/5;
        }
        //2세대 피스
        &:nth-child(6) {
          grid-column: 5/6;
        }
        //3세대 와이엇
        &:nth-child(7) {
        }
        //2세대 매튜(모니카)
        &:nth-child(8) {
          grid-column: 2/3;
        }
        //3세대 제레미(올리비아)
        &:nth-child(9) {
          grid-column: 2/3;
        }
        //3세대 데릭
        &:nth-child(10) {
          grid-column: 3/4;
        }
        //3세대 벨린더
        &:nth-child(11) {
          grid-column: 4/5;
        }

        //3세대 올리비아
        &:nth-child(12) {
          grid-column: 1/2;
        }

        //4세대 그림
        &:nth-child(13) {
          grid-column: 1/2;
        }
      }
    }
  }
}
